<input type="hidden" id="Id" />
<label for="Name">@Html.Encode(Resources.Global.Company_Name)</label>
<input type="text" id="Name" /><br />
<label for="PIN">@Html.Encode(Resources.Global.Company_PIN)</label>
<input type="text" id="PIN" /><br />
<label for="Contact">@Html.Encode(Resources.Global.Company_Contacts)</label>
<input type="text" id="Contact" /><br />
<label for="Description">@Html.Encode(Resources.Global.Company_Description)</label>
<textarea rows="4" cols="50" id="Description"></textarea><br />
<br />
<input class="btn" type="submit" value="@Html.Encode(Resources.Global.Button_Save)" />


